.reward-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-area: reward;
}

@media (max-width:1000px) {
    .reward-bar-container{
        grid-template-columns: 1fr;
    }
}